@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout style */
html {
  @apply scroll-smooth;
}

::selection {
  @apply bg-primary text-white;
}

section {
  @apply pt-12 py-8;
}

.section-container {
  @apply max-w-screen-xl mx-auto px-2 lg:px-8;
}

/* header styles */
.scroll-header {
  @apply bg-white dark:bg-[#151527] [box-shadow:0_1px_12px_hsla(234,5%,15%,0.15)] dark:[box-shadow:0_1px_8px_hsla(254,5%,15%,0.35)];
}

.scroll-header .nav {
  height: 3.5rem;
  @apply text-foreground;
  .nav-logo a {
    @apply text-[#000047] dark:text-[#a3a3ff] hover:text-primary-hover;
  }
}

.nav {
  height: 5rem;
}

.active-link {
  @apply text-primary;
  transition: .3s;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -8px;
  @apply w-2 h-1 rounded-l-full rounded-r-full md:hidden bg-primary; 
}

.arrow-btn {
  @apply font-medium text-primary cursor-pointer inline-flex items-center;
  gap: 6px;
}

.arrow-btn:hover .arrow {
  transform: translateX(0.25rem);
  transition: all 0.3s ease;
}

/* extra animations */
.animate-bounceUp {
  animation: bounceUp 2s infinite ease-in-out;
}

@keyframes bounceUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}